@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}
body{
    background-color: black;
}
.header-wrap{
    height: 74px;
    background-color: #1a1a1c;
    display: flex;
    justify-content: space-between;
}
.header-wrap .header-img-wrap {
    width: 240px;
    height: 74px;
    padding: 27px 32px 23px; 
    margin: 0;
}
.header-wrap .header-img-wrap > h1 > img {
    width: 176px;
    height: 24px;
    display: block;
}
.header-wrap .manu-wrap {
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.header-wrap .manu-wrap .one-depth > a{
    text-decoration: none;
    color: white;
    margin-right: 35px;
}
.header-wrap .manu-wrap .one-depth > a:hover{
    color: gray;
}
.header-wrap .manu-wrap .btn > img {
    width: 27px;
    height: 27px;
    margin-right: 30px;
    margin-top: 5px;
}
.header-wrap .manu-wrap .lang-sel > a {
    text-decoration: none; 
    background-color: #1a1a1c;
    border: 0;
    font-size: 14px;
    color: white;
    margin-right: 5px;
}
.header-wrap .manu-wrap .lang-sel .eng {
    color: gray;
}
section{
    width: 1160px;
    height: 858px;
    margin: 0 auto;
    margin-top: 100px;
}
h2{
    color: gray;
    font-size: 30px;
    font-weight: 600;
}
.boxes{
    margin-top: 35px;
}
.boxes > li{
    list-style-type: none;
    width: 278px;
    height: 320px;
    background-color: #1a1a1c;
    float: left;
    margin-right: 15px;
    margin-top: 15px;
    padding-left: 35px;
}
.boxes .map{
    margin-right: -20px;
}
.boxes > li > h2 {
    color: white;
    font-size: 22px;
    padding-top: 30px;
    font-weight: 400;
    font-family: NotoSans Medium,Malgun Gothic,맑은 고딕,Apple SD Gothic Neo,돋움,dotum,sans-serif;
}
.boxes > li > p{
    color: hsla(0,0%,100%,.6);
    font-size: 14px;
    padding-top: 20px;
    padding-right: 30px;
    line-height: 24px;
}
.boxes > li > img{
    width: 54px;
    height: 54px;
    float: right;
    margin-top: -40px;
    margin-right: 20px;
}
.boxes > li > a{
    text-decoration: none;
    width: 106px;
    height: 40px;
    display: inline-block;
    text-align: center;
    color: white;
    background-color: hsla(0,0%,100%,.05);
    margin-right: 1px;
    padding-top: 9px;
    font-size: 14px;
    margin-top: 50px;
}
.boxes > li > a:hover{
    background: gray;
}
.boxes > li .social > a{
    text-decoration: none;
    width: 106px;
    height: 40px;
    display: inline-block;
    text-align: center;
    color: white;
    background-color: hsla(0,0%,100%,.05);
    margin-right: 1px;
    padding-top: 9px;
    font-size: 14px;
    margin-top: 100px;
}
.boxes .map > a{
    margin-top: 75px;
}
.boxes > li > .channel > a{
    text-decoration: none;
    width: 106px;
    height: 40px;
    display: inline-block;
    text-align: center;
    color: white;
    background-color: hsla(0,0%,100%,.05);
    margin-right: 1px;
    padding-top: 9px;
    font-size: 14px;
    margin-top: 27px;
}
.boxes > li > .sync > a{
    text-decoration: none;
    width: 106px;
    height: 40px;
    display: inline-block;
    text-align: center;
    color: white;
    background-color: hsla(0,0%,100%,.05);
    margin-right: 1px;
    padding-top: 9px;
    font-size: 14px;
    margin-top: 27px;
}
.boxes .all-product{
    margin-right: -15px;
    background: rgb(0, 0, 124);
}
.boxes .all-product .overlay{
    width: 0;
    height: 320px;
    transform: translate(-35px, -57px);
    background-color: rgba(172, 172, 172, 0.178);
}
.boxes .all-product:hover .overlay{
    width: calc(100% + 35px);
    transition: .5s;
    cursor: pointer;
}
.boxes .all-product .overlay > a{
    width: 100%;
    background-color: white;
}