@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}
body{
    background-color: black;
}
header{
    width: 1792px;
    height: 74px;
    background-color: #1a1a1c;
    padding: 13px 20px 24px 32px;
    justify-content: space-between;
}
h1 {
    width: 176px;
    margin: 0px;
    display: inline-block;
    justify-content: space-between;
}
h1 > img {
    width: 176px;
    height: 24px;
    display: inline-block;
}
.head .list{
    text-align: right;
    margin-top: -35px;
    margin-right: 110px;
}
.head .list > a{
    font-size: 16px;
    margin-right: 35px;
    color: white;
    text-decoration: none;
}
.head .list > a:hover{
    color: gray;
}
.head .button > img {
    display: inline-block;
    width: 27px;
    height: 27px;
    margin-left: 1620px;
    margin-top: -27px;
    margin-bottom: 30px;
}
.head .sel-lang{
    margin-top: -60px;
    margin-left: 1670px;
    margin-bottom: 500px;  
}
.head .sel-lang > a {
    text-decoration: none; 
    background-color: #1a1a1c;
    border: 0;
    font-size: 14px;
    color: white;
    margin-right: 5px;
}
.head .sel-lang .eng {
    color: gray;
}
section{
    width: 1160px;
    height: 858px;
    margin: 0 auto;
    margin-top: 100px;
}
h2{
    color: gray;
    font-size: 30px;
    font-weight: 510;
}
.boxes{
    margin-top: 35px;
}
.boxes > li{
    list-style-type: none;
    width: 278px;
    height: 320px;
    background-color: #1a1a1c;
    float: left;
    margin-right: 15px;
    margin-top: 15px;
    padding-left: 35px;
}
.boxes .map{
    margin-right: -20px;
}
.boxes > li > h2 {
    color: white;
    font-size: 23px;
    padding-top: 30px;
    font-weight: 600;
}
.boxes > li > p{
    color: hsla(0,0%,100%,.6);
    font-size: 14px;
    padding-top: 20px;
    padding-right: 30px;
    line-height: 24px;
}
.boxes > li > img{
    width: 54px;
    height: 54px;
    float: right;
    margin-top: -40px;
    margin-right: 20px;
}
.boxes > li > a{
    text-decoration: none;
    width: 106px;
    height: 40px;
    display: inline-block;
    text-align: center;
    color: white;
    background-color: hsla(0,0%,100%,.05);
    margin-right: 1px;
    padding-top: 9px;
    font-size: 14px;
    margin-top: 50px;
}
.boxes .all-product{
    margin-right: -15px;
    transition: 0.5s;
    background: rgb(0, 0, 124);
}
.boxes .all-product:hover{
    background: rgb(20, 20, 153)
}
.boxes > li > a:hover{
    background: gray;
}
.boxes > li .social > a{
    text-decoration: none;
    width: 106px;
    height: 40px;
    display: inline-block;
    text-align: center;
    color: white;
    background-color: hsla(0,0%,100%,.05);
    margin-right: 1px;
    padding-top: 9px;
    font-size: 14px;
    margin-top: 100px;
}
.boxes .map > a{
    margin-top: 75px;
}
.boxes > li > .channel > a{
    text-decoration: none;
    width: 106px;
    height: 40px;
    display: inline-block;
    text-align: center;
    color: white;
    background-color: hsla(0,0%,100%,.05);
    margin-right: 1px;
    padding-top: 9px;
    font-size: 14px;
    margin-top: 27px;
}
.boxes > li > .sync > a{
    ext-decoration: none;
    width: 106px;
    height: 40px;
    display: inline-block;
    text-align: center;
    color: white;
    background-color: hsla(0,0%,100%,.05);
    margin-right: 1px;
    padding-top: 9px;
    font-size: 14px;
    margin-top: 27px;
}
.boxes .all-product{
    
}